version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://mongodb:27017/AppDB
    depends_on:
      - mongodb
        #    volumes:
        #- .:/usr/src/app
        #- /usr/src/app/node_mondules

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db


volumes:
  mongo-data:
