name: CI Build and Dockrize

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Node.js 16.x
      uses: actions/setup-node@v4
      with:
        node-version: '16.x'

    - name: Install Dependencies
      run: npm ci

    - name: Set up Docker Builds
      uses: docker/setup-buildx-action@v3

    - name: Build Docker Image
      run: |
        docker build \
        -t app-management-system:ci-build \
        -f Dockerfile .

    - name: Verification
      run: |
        docker run --rm -d \
        --name test-app-container \
        -e MONGO_URI=mongodb://127.0.0.1:27017/AppDB \
        app-management-system:ci-build

        echo "Waiting for container to start..."
        eleep 5

        docker logs test-app-container || true
        docker ps -f name=test-app-container

        dockr stop test-app-container

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker tag app-management-system:ci-build YOUR_REGISTRY_PATH/app-management-system:${{ github.sha }}
        docker push YOUR_REGISTRY_PATH/app-management-system:${{ github.sha }}
